@charset "utf-8";

nav.floating {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}
.header-info{
    display: flex;
    align-items: center;
}
.header-info img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.first-view {
    height: calc(100vh - 110px);
    background: linear-gradient(to right, pink, lime);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.profile-contsnts{
    padding-top: 1%;
}
.profile-contsnts h1,.profile-contsnts h2{
    padding-top: 1%;
}

.pro-info{
    margin-top: 10px;
    margin-left: 10%;
    display: flex;
}

.pro-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pro-name > div{
    display: inline;
}

.task-list{
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 50%;
    height: 50%;
    padding-top: 1%;
    padding-left: 2%;
}

.item:nth-child(1){
    order: 1;
}
.item:nth-child(2){
    order: 2;
}
.item:nth-child(3){
    order: 3;
}
.item:nth-child(4){
    order: 4;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Noto Serif JP", sans-serif;
    font-size: 16pt;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}
img {
    max-width: 50%;
}

.header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-menu-button {
    display: none;
}

.header-logo {
    display: block;
    width: 170px;
}

.site-menu ul {
    display: flex;
}

.site-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li a {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

@media (max-width: 800px){
    .site-menu ul {
        display: block;
        text-align: center;
    }

    .site-menu li {
        margin-top: 20px;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color:#ffffff;
        height: 50px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .header-inner {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header-logo {
        width: 50px;
    }

    .header-site-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #736e62;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

    .header-site-menu.is-show {
        display: block;
    }

    .main {
        padding-top: 50px;
    }

    .footer-logo {
        margin-top: 60px;
    }

    .copyright {
        margin-top: 50px;
    }

    .toggle-menu-button {
        display: block;
        width: 44px;
        height: 34px;
        background-image: url(../images/common/icon-menu.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }
}

.footer {
    color: #ffffff;
    background-color: #24211b;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: block;
    width: 100px;
    margin-top: 90px;
}

.copyright {
    font-size: 14px;
    font-weight: bold;
    margin-top: 90px;
}