@charset "utf-8";

nav.floating {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}

.first-view {
    height: 300px;
    background: linear-gradient(to right ,aqua, pink);
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 55px;
}

.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}

.user-info{
    margin-left: 5%;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}
.pro-icon{
    padding-left: 1%;
}
.item-name{
    padding-top: 1%;
}
.item-name > div{
    display: inline;
}
.pro-icon img{
    aspect-ratio: 1 /1;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
}
.task-cir{
    padding-left: 2%;
    width: 500px;
}

.task-cir h1{
    font-size: 30px;
}

.task-cir > h2{
    padding-top: 3%;
}
.task-cir > p{
    padding-top: 5%;
    padding-bottom: 5%;
}
.button{
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(44, 64, 212);
}

input[type=text]{
    margin-top: 1%;
    padding: 10px;
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 5px;
}