@charset "utf-8";

header{
    border-bottom: 1px solid #000000;
}
body{
    background-color: #ffffff;
}
.first-view{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav.floating {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}
.conteiner{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
table{
    text-align: center;
    padding-top: 10px;
    border: 2px solid #000000;
    border-collapse: collapse;
    width: 90%;
}
th, td{
    border: 1px solid #bbb;
    padding: 2px 8px 0;
    text-align: left;
    padding: 10px;
    align-self: center;
}
thead > tr > th{
    background-color: #ddd;
    font-size: 18px;
    border-bottom: 2px solid #000000;
}