@charset "utf-8";

nav.floating {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}

.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 72px;
}

.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}


.new{
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #75d1ff;
}
.done{
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #ffbe32;
}